/* Basic styling for the selector container */
.selector-c2-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0f0f0f00;
  border-radius: 1vw;
  height: 50vh;
  padding: 1vw;
  width: 100%;
  overflow: hidden;
}

/* Styling the label */
.selector-c2-container label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  margin-bottom: 50px;
  color: #acacac;
  margin-left: 10px;
}

/* Search wrapper */
.selector-c2-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  gap: 0.5vw;
  margin-left: 0.7vw;
}

/* Search input */
.selector-c2-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  outline: none;
  padding-inline-start: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
  border: none;
  width: 10vw;
  transition: background-color 0.3s ease;
}

.selector-c2-search-input:focus {
  background-color: #f0f0f0;
}

.selector-c2-search-input:hover {
  background-color: #fafafa;
  cursor: text;
}

.selector-c2-search-input::placeholder {
  color: #aaa;
  font-size: 0.9vw;
  opacity: 1;
}

/* Search icon */
.selector-c2-search-icon {
  position: absolute;
  right: 0.8vw;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.2vw;
  color: white;
}

/* Dropdown */
.selector-c2-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  padding: 2vw;
  gap: 1vw;
  z-index: 1;
  height: auto;
  overflow-x: hidden;
}

.selector-c2-dropdown h4 {
  border: solid transparent 3px;
  width: 5vw;
  font-size: 0.9vw;
  margin-right: 3px;
}

/* Dropdown button */
.selector-c2-dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #00eeff;
  padding: 0.5vw;
  font-size: 1vw;
  width: 100%;
  border: none;
  border-radius: 1.5vw;
  cursor: pointer;
  height: auto;
  transition: background-color 0.3s ease;
}

.selector-c2-dropdown-button:hover {
  background-color: #ffffff1d;
}

/* Dropdown content */
.selector-c2-dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #2e2e2e;
  width: 50%;
  height: 20vh;
  overflow-y: auto;
  padding: 1.5vw;
  gap: 0.8vw;
  border-radius: 0.8vw;
  scrollbar-width: thin;
  scrollbar-color: #999 #2e2e2e;
  overflow-x: hidden;
}

/* Scrollbars */
.selector-c2-dropdown-content::-webkit-scrollbar {
  width: 0.8vw;
}

.selector-c2-dropdown-content::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 0.8vw;
}

.selector-c2-dropdown-content::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

/* Dropdown item */
.selector-c2-dropdown-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5vh;
  background-color: transparent;
  color: #e2e2e2;
  cursor: pointer;
  border-radius: 0.5vw;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 1vw;
  flex-shrink: 0;
  width: 20vw;
  z-index: 1;
}

.selector-c2-dropdown-item:hover {
  background-color: #ffffff1f;
  color: #ffffff;
}

.selector-c2-dropdown-item.selected {
  background-color: #15efffd1;
  color: #000000;
  font-weight: 600;
}

/* Selected label */
.selector-c2-container .selector-c2-selected-artists {
  margin-top: 1vh;
  font-size: 1.2vw;
  color: #ecf0f1;
  font-weight: bold;
}

/* Submit button */
.selector-c2-submit-button {
  margin-top: 2vh;
  padding: 1vh 1.5vw;
  background-color: #00eeffdd;
  color: white;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 1.2vw;
  transition: background-color 0.3s;
}

.selector-c2-submit-button:hover {
  background-color: #16a085;
}

/* Optional search wrapper */
.selector-c2-search-wrapper {
  position: relative;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 480px) {
  .selector-c2-container {
    height: 50vh;
    width: 100%;
    gap: 2vw;
    padding: 1vw;
  }

  .selector-c2-container label {
    font-size: 5vw;
    margin-bottom: 5vw;
    margin-top: 3vw;
  }

  .selector-c2-dropdown {
    justify-content: flex-start;
    width: 70%;
    gap: 0.5vw;
    padding: 3vw;
    height: 35vh;
  }

  .selector-c2-dropdown h4 {
    width: 10vw;
    font-size: 3vw;
    border-radius: 1vw;
  }

  .selector-c2-dropdown-button {
    margin: 4vw;
    width: 62vw;
    font-size: 4vw;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.949);
    border-radius: 1vw;
  }

  .selector-c2-search {
    width: 100%;
    height: auto;
    gap: 2vw;
    margin-top: 6vw;
    border-radius: 1vw;
  }

  .selector-c2-search-input {
    width: 48vw;
    height: 3.2vh;
    border-radius: 1vw;
  }

  .selector-c2-search-input::placeholder {
    font-size: 3vw;
  }

  .selector-c2-dropdown-content {
    height: 30vh;
    width: 95%;
    gap: 1vw;
  }

  .selector-c2-dropdown-item {
    height: 5vh;
    font-size: 4vw;
    width: 50vw;
  }
}
