# Ignore node_modules and dependencies
node_modules
package-lock.json

# Ignore environment variables
.env

# Ignore logs and temporary files
*.log
tmp/
.cache/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore
