.artist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin: 0 auto;
  padding: 1vw;
  background: #33333369;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  gap: 1vw;
  background-blend-mode: difference;
}

.artist-form-title {
  font-size: 1.25vw;
  font-weight: 600;
  margin-bottom: 1vh;
  text-align: center;
}

.artist-form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.artist-input {
  padding: 0.5vh 0.75vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.5vw;
  font-size: 1vw;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Hover effect */
.artist-input:hover {
  border-color: #00eeff;
  background-color: #f9f9f9;
}

/* Focus effect */
.artist-input:focus {
  border-color: #00eeff;
  outline: none;
  background-color: white;
}

.artist-input::placeholder {
  color: black;
  opacity: 1;
}

.artist-button {
  background-color: #00eeffc3;
  color: rgb(0, 0, 0);
  padding: 0.5vh 1vw;
  font-size: 1vw;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.artist-button:hover {
  background-color: #00eeff;
}

.artist-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.artist-response {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  margin-top: 1vh;
  padding: 0.75vh 1vw;
  background-color: #fffffff9;
  color: #065f46;
  border-radius: 0.5vw;
}

.artist-created {
  color: black;
  font-size: 1.3vw;
  font-weight: 600;
  margin: 1vh 1vw;
}

.artist-exists {
  margin: 1vh 1vw;
  color: black;
  font-size: 1.1vw;
  font-weight: 600;
}
