/*! ________________________________________| MAIN |___________________________________________________ */
.ReleasesP-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.45vw;
  text-align: center;
  color: white;
  background-color: #1e1e1e; /* Dark background */
  border-radius: 1vw;
  gap: 0.7vw;
}
/* ?____________________________________ \ SECTION 1 \_______________________________ */
.ReleasesP-main-sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
}

.ReleasesP-main-sec-11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  height: 5vh;
  /* border: red 3px solid; */
}
.ReleasesP-main-sec-11-steping {
  margin-bottom: 1.2vh;
}
.ReleasesP-main-sec-1 h2 {
  /* Adjust word spacing based on viewport width */
  color: rgb(0, 238, 255);
  font-size: 1.5vw;
}

/* ?____________________________________ \ SECTION 2 \_______________________________ */
.ReleasesP-main-sec-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 77vw;
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
  gap: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.ReleasesP-main-sec-21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 30vw;
  height: 20vh;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  border: black solid 0.2vw;
  border-radius: 0.5vw;
  padding: 1vw;
  gap: 1.5vw;
  height: auto;
  
}

.ReleasesP-main-sec-21::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSvtUvfbs_07vL880QLrzhQVg4cbiK928nug&s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) blur(1.5px);

  opacity: 0.5;

  z-index: -1;
}
.ReleasesP-main-sec-21 h4{
  font-size: 2vw;
  font-weight: 600;
  color: #00EEFF;
  
}
.ReleasesP-main-sec-21 p{
  font-size: 1vw;
}
.ReleasesP-main-sec-21-button-1 {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.5vw 0.5vw;
  border-radius: 1vw;
  cursor: pointer;
  font-size: 1vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ReleasesP-main-sec-21-button-1:hover {
  background-color: #f0f0f0;
  color: #000;
}

.ReleasesP-main-sec-22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  height: auto;
  background-color: black;
  position: relative; /* Needed to position the pseudo-element */
  overflow: hidden;   /* Optional: prevents ::before from spilling outside */
  border: black solid 0.2vw;
  gap: 1vw;
  padding: 2vw;
}

.ReleasesP-main-sec-22::before {
  content: ""; /* Required for ::before to render */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEBDNuljT67FePs846ERFP87mYI7mBQEQTBQ&s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.1; /* Optional: makes background more subtle */
  z-index: 0;   /* Make sure it's behind the content */
  filter: grayscale(1) blur(1.5px);
  

}

.ReleasesP-main-sec-22 > * {
  position: relative;
  z-index: 1; /* Ensure child content is above the ::before */
}
.ReleasesP-main-sec-22 p{
  font-size: 2vw;
  font-weight: 600;
  color: #00EEFF;
 

}

/* ?____________________________________ \ SECTION 3 \_______________________________ */

.ReleasesP-main-sec-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 73vw;

  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
  gap: 1vw;
padding: 2vw;
}

.ReleasesP-main-sec-31 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid rgba(139, 139, 139, 0.046) 3px;
  border-radius: 1vw;
  overflow: hidden; /* Ensures ::before background doesn't spill outside border radius */
  width: 40vw;
  padding-top: 2vw;
  /* border: solid red 3px; */
  height: 46vh;
}

.ReleasesP-main-sec-31::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://surfshark.com/wp-content/uploads/2022/11/Can-anyone-see-what-you-search-on-the-internet_.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) blur(1.5px);
  opacity: 0.05;
  z-index: 0;
}

/* Ensure content is layered above the blurred background */
.ReleasesP-main-sec-31 > * {
  position: relative;
  z-index: 1;
}

.ReleasesP-main-sec-32 {
  position: relative; /* Added for correct positioning */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border: solid rgba(139, 139, 139, 0.046) 3px;
  width: 50vw;
  height: 46vh;
  overflow: hidden; /* Optional: hides overflow of ::before */
  padding: 0.5vw;
  border-radius: 1vw;
  gap: 0.5vw;
padding-top: 2vw;
}
.ReleasesP-main-sec-321{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:15vw;
  height: 30vh;
  /* border-right: grey 3px solid; */
  padding: 1vw;

  
}
.ReleasesP-main-sec-3211{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  background-color: #ffffff04;
  border-radius: 0.3vw;
  padding: 0.5vw;
  gap: 2vw;

}
.ReleasesP-main-sec-3211 p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.ReleasesP-main-sec-32::before {
  content: "";
  position: absolute; /* Required for layering */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.open.edu.au/-/media/blog/2024/02-february/study-playlists.jpg?h=477&iar=0&w=715&rev=fb6cc9247c3a4c888c5172f50ded3be9&hash=718A7B107024CEDCCD8F242CD9A6DF43");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) blur(1.5px);
  opacity: 0.05;
  z-index: 0; /* Make sure it stays behind the content */
  border-radius: 0.5vw;
}

/* Optional: make sure content inside appears above the background */
.ReleasesP-main-sec-32 > * {
  position: relative;
  z-index: 1;
}


/* ?____________________________________ \ SECTION 4 \_______________________________ */

.ReleasesP-main-sec-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
  gap: 1vw;
  padding-top: 1vw;
  /* border: solid red 3px; */
  
  
}
.ReleasesP-main-sec-4 h4{
  font-size: 1.5vw;
  font-family: sans-serif;
}
.releasesP-songs-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;

  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
  gap: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
   /* border: solid red 3px; */
}
.ReleasesP-main-sec-41{
  
}
.ReleasesP-main-sec-412{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vw;
  width:auto;
  background-color: rgba(0, 0, 0, 0.386);
}

/*! ________________________________________| Responsive Designs |___________________________________________________ */
/*?------------------------ | MOBILE |------------------------- */
@media (max-width: 480px) {
  .ReleasesP-main {
    gap: 5vw;
  }
  .ReleasesP-main-sec-1 h2{
    font-size: 4.8vw;

  }
  .ReleasesP-main-sec-2{
    flex-direction: column;
    width: 95%;
 
  }
  .ReleasesP-main-sec-21{
    width:80vw;
    height: 25vh;
    gap: 5vw;
    padding: 4vw;
    
  }
  .ReleasesP-main-sec-21 h4{
    font-size: 4vw;
  }
  .ReleasesP-main-sec-21 p{
    font-size: 2vw;
  }
  .ReleasesP-main-sec-21-button-1{
    font-size: 2.2vw;
  }
  .ReleasesP-main-sec-22{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 83.5vw;
    height: 4vh;
    gap: 5vw;
  }
  .ReleasesP-main-sec-22 p{
    font-size: 5vw;
    
  }
  .ReleasesP-main-sec-3{
    flex-direction: column;
    height: auto;
    width: 91%;

  }
  .ReleasesP-main-sec-31{
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 50vh;
    
   
    

  }
  .ReleasesP-main-sec-32{
    width: 94%;
    height: auto;
    padding: 2vw;

  }
  .ReleasesP-main-sec-4 h4{
    font-size: 4vw;
  }
}

/*?------------------------ | TABLETS |------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
 
}

/*?------------------------ | SMALL LAPTOPS |------------------------- */
@media (min-width: 769px) and (max-width: 1024px) {
  
}

/*?------------------------ | LAPTOPS AND DESKTOPS |------------------------- */
@media (min-width: 1025px) {
  
}