.feature-cards-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 4vw; */
    flex-wrap: wrap;
    overflow: hidden;
    /* margin-top: 10px; */
}

.card {
  margin: 1vw 1.5vw;
  width: 30vw;
  height: 40vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
  padding: 20px;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 1px solid rgba(205, 205, 205, 0.468);
  /* overflow: hidden; */
  position: relative;
}

.card-image{
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  filter: brightness(0.8) blur(1px) grayscale(100%) opacity(0.2);
}

.content {
  text-align: center;
  overflow: hidden;
  z-index: 9;
}

.content h2 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(252, 251, 251);
  font-size: 25px;
  font-weight: bold;
  margin: 1.5vw 0;
}

.content p {
  margin-top: 4vw;
  font-size: 1.2vw;
  color: #bebebe;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.card button {
  background-color: transparent;
  border: 1px solid rgb(45, 187, 243);
  color: white;
  padding: 0 2vw;
  border-radius: 20px;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  /* display: none; */
  position: absolute;
  bottom: 20px;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

button:hover {
  background-color: #28b3e6;
  display: block;
  color: black;
}

.card:hover {
  transform: scale(1.02);
  border: 1px solid rgb(33, 183, 243);
}
.card:hover p{
  margin-top: 2vw;
}
.card:hover button{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* <------------------------------------------------------- Resposive Design ---------------------------------------------------------> */

@media (min-width:350px) and (max-width:500px){
  .card{
    width: 100%;
    height: 50vh;
    margin-bottom: 10vw;
  }
  .content h2{
    font-size: 7vw;
  }
  .content p{
    margin-top: 10vw;
    font-size: 5vw;
    /* border: 1px solid yellow; */
  }
  .card button{
    padding: 3vw;
    font-size: 4vw;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width:501px)and(max-width:800px){
  .card{
    width: 80%;
    height: 40vh;
    margin-bottom: 5vw;
    /* border: 1px solid red; */
  }
  .content p{
    font-size: 9vw;
  }
  .card button{
    font-size: 2vw;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
  }
}

@media(min-width:801px)and(max-width:950px){
  .content p{
    font-size: 1.5vw;
  }
}