
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Quicksand:wght@300..700&display=swap');

.navbar-C1List {
  height: 5vh;
  width: auto;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: solid red 3px; */
  background-color: transparent;
  margin-left: 7vw;
}

/* __________________________________________________________Navigation Menu Styles */
.navbar-C1List-Opt {
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  display: flex; /* Arrange items horizontally */
  background-color:transparent; /* Navbar background color (violet) */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  height: auto; /* Navbar height */
  font-family: "Inconsolata", serif;
}

/* ...............................................List Item Styles */
.navbar-C1List-Opt li {
  margin: 0 1.5vw;
}

/* .....................................................Link Styles */
.navbar-C1List-Opt a {
  text-decoration: none; /* Remove underline */
  font-family: "Inconsolata", serif;
  font-size: 1.2vw;
  font-weight: 600; /* Use 100 for very slim text */
  color: #ffffff; /* Light gray color for a softer look */
  margin: 0; /* Optional: Remove margin for tighter spacing */
  transition: color 0.3s ease; /* Smooth color transition */
}

/* ................................................Hover Effect for Links */
.navbar-C1List-Opt a:hover {
  color: rgb(0, 238, 255); /* Gold color on hover */
}

/*! ________________________________________| Responsive Designs |___________________________________________________ */
/*?------------------------ | MOBILE |------------------------- */
@media (max-width: 480px) {
  .navbar-C1List{
    display: none;
  }
}

/*?------------------------ | TABLETS |------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
 
}

/*?------------------------ | SMALL LAPTOPS |------------------------- */
@media (min-width: 769px) and (max-width: 1024px) {

}

/*?------------------------ | LAPTOPS AND DESKTOPS |------------------------- */
@media (min-width: 1025px) {
 
}

