.input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
  }
  
  .file-input {
    width: 100%;
    padding: 6px;
    background-color: #444;
    color: white;
    border-radius: 6px;
  }
  
  .btn {
    background-color: violet;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }
  