.ourPlans-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 79vw;
  height: auto;
  padding: 0.45vw;
  text-align: center;
  color: white;
  background-color: #1e1e1e; /* Dark background */
  border-radius: 1vw;
  gap: 0.7vw;
  border: gold 0.12vw solid;
  /* border-top: none; */
}
/* ?____________________________________ \ SECTION 2 \_______________________________ */
.ourPlans-main-sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
}
.ourPlans-main-sec-1 h2 {
  color: rgb(0, 238, 255);
  font-size: 1.5vw;
}

/* ?____________________________________ \ SECTION 2 \_______________________________ */
.ourPlans-main-sec-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 35vh;
  width: 77vw;
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
  gap: 1vw;
}
.ourPlans-main-sec-21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 13vw;
  height: 26vh;
  background-color: rgba(0, 0, 0, 0.975);
  margin: 0.5vw;
  border-radius: 1vw;
  padding: 0.5vw;
}

.ourPlans-main-sec-21 p {
  font-size: 1vw;
}
.ourPlans-main-sec-21-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: #3c3e3e solid 2px;
  width: 100%;
  margin-bottom: 5px;
}
.ourPlans-main-sec-21-name li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border: gold solid 1.2px; */
  margin-top: 5px;
  padding: 5px;
  border-radius: 0.2vw;
}
.ourPlans-main-sec-22 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.313);
  margin: 0.5vw;
  border-left: solid 2px;
  border-image: linear-gradient(to bottom, #00eeff 50%, white 50%) 1;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 0.5vw;
}

/* ?____________________________________ \ SECTION 3 \_______________________________ */
.ourPlans-main-sec-3 {
  display: flex;
  flex-direction: column; /* Allows cards to wrap on smaller screens */
  justify-content: center;
  align-items: center;
  height: auto; /* Let height adjust dynamically */
  width: 77vw;
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 0.5vw;
  font-family: "Inconsolata", serif;
  gap: 1.5vw;
  padding-top: 2vw;
  padding-bottom: 3vw;
}
.ourPlans-main-sec-32 {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
  justify-content: center;
  align-items: flex-start;
  height: auto; /* Let height adjust dynamically */
  gap: 3vw;
  padding-top: 1vw;
  padding-bottom: 3vw;

  /* border: red solid 3px; */
  border-bottom: #484848 2px solid;
  padding: 3vw;
}
.ourPlans-main-sec-31 h2 {
  color: #ffffff;
  font-weight: 900; /* Maximum font-weight */
  text-transform: uppercase; /* Optional: Makes text more prominent */
  letter-spacing: 1px; /* Optional: Enhances readability */
  font-size: 1.7vw; /* Optional: Increases size for more impact */
}

/*! ________________________________________| Responsive Designs |___________________________________________________ */

/*?------------------------ | MOBILE |------------------------- */
@media (max-width: 480px) {
  .ourPlans-main {
    width: 100%;
    height: auto;
    width: 97.5vw;
 
  }
  .ourPlans-main-sec-2 {
    height: auto;
     
  }
  .ourPlans-main-sec-22 {
    display: none;
    gap: 3vw;
      
  }
  .ourPlans-main-sec-3 {
    gap: 1vw;
      
        height: auto;
  }
  .ourPlans-main-sec-32 {
    gap: 7vw;
    

  }
   .ourPlans-main-sec-31{
    /* border: solid red 3px; */
    margin-top: 10px;
   }
  .ourPlans-main-sec-2{
    display: none;
  }
  .ourPlans-main-sec-3{
    width: 100%;
    margin: 3vw;
  }
  .ourPlans-main-sec-31 h2{
    font-size: 5vw;
    margin: 2vw;

  }
   .ourPlans-main-sec-1 {
    height: auto;
   }
  .ourPlans-main-sec-1 h2{
    font-size:6vw ;
    font-family: sans-serif;
    margin-top: 2vw;
  }
}
