@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footC2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  gap: 10vw;
  /* border: 1px solid orange; */
  flex-wrap: wrap;
}
.foot-1C2 {
  margin-left: 2vw;
  /* width: 40%; */
  /* border: 1px solid rgb(0, 255, 94); */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  /* padding: 10px; */
}
.foot-1C2 p {
  /* border: 1px solid rgb(38, 0, 255); */
  color: white;
  margin: 0px 0px 0px 0vw;
  font-size: 1vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  letter-spacing: 1px;
  margin-left: 10px;
  font-family: "Inconsolata", serif;
}
.foot-1C2 p span {
  font-size: 2vw;
  margin-top: -2px;
}
.foot-1-1C2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}
.foot-1-1C2 img {
  height: 4.5vw;
}
.foot-1-1C2 h2 {
  color: rgb(0, 191, 255);
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 2.5vw;
}
.outer{
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 8vw;
  /* border: 1px solid red; */
}
/* .foot-2 {
  border: 1px solid greenyellow;
} */
.foot-2C2 h3 {
  color: white;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 1.5vw;
}
.foot-2-1C2 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.servicesC2 {
  margin-right: -5vw;
}
.foot-2-1C2 a {
  text-decoration: none;
  color: rgb(185, 183, 183);
}
.foot-2-1C2 a:hover {
  text-decoration: underline;
  color: white;
}
.foot-3C2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.foot-3-1C2 h3 {
  color: white;
  margin-bottom: 10px;
  font-family: sans-serif;
}
.socialsC2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 25px;
}
.socialsC2 a {
  color: rgb(140, 139, 139);
  font-size: 25px;
}
.icon-githubC2:hover {
  color: white;
}
.icon-linkedinC2:hover {
  color: rgb(28, 131, 228);
}
.icon-youtubeC2:hover {
  color: rgb(223, 36, 36);
}
.icon-twitterC2:hover {
  color: white;
}
.icon-instagramC2:hover {
  color: rgb(225, 10, 122);
}

.foot-3-2C2 {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
}
.foot-3-2C2 h3 {
  color: white;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.subscribe-formC2 {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.subscribe-formC2 input {
  padding: 0.7vw;
  font-size: 1vw;
  width: 18vw;
  border-radius: 50px;
  border: 1px solid white;
  background-color: white;
}

.foot-3-2C2 button {
  padding: 0.8vw 2vw;
  font-size: 1vw;
  background-color: #1d92d1d0; /* You can change the color */
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.foot-3-2C2 button:hover {
  background-color: #1396dc;
}

/* ------------------------------------------------------ Responsive Design ----------------------------------------------------------- */

@media (min-width:350px) and (max-width:490px){
  .footC2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 17vw;
    /* border: 1px solid orange; */
    flex-wrap: wrap;
    padding-bottom: 2vw;
    padding-left: 8vw;
  }
  .foot-1C2{
    /* border: 1px solid green; */
    overflow: hidden;
    align-items: center;
    /* width: 100%; */
    gap: 1vw;
    margin: 0;
    padding-left: 1vw;
  }
  .foot-1C2 p{
    /* margin-left: 15px; */
    font-size: 4vw;
  }
  .foot-1C2 p span{
    /* margin-top: -.5vw; */
    font-size: 7vw;
  }
  .foot-1-1C2{
    margin-left: -45vw;
    /* border: 1px solid rgb(38, 108, 229); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0vw;
  }
  .foot-1-1C2 h2{
    font-size: 7vw;
  }
  .foot-1-1C2 img{
    height: 15vw;
  }
  .outer{
    /* border: 1px solid red; */
    display: flex;
    gap: 12vw;
  }
  .foot-2C2 h3{
    font-size: 5vw;
  }
  .foot-2-1C2 a{
    font-size: 4vw;
  }
  .foot-3C2{
    gap: 7vw;
  }
  .foot-3-1C2 h3{
    font-size: 5vw;
  }
  .foot-3-2C2 h3{
    font-size: 5vw;
  }
  .subscribe-formC2{
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  .subscribe-formC2 input{
    padding: 2.5vw 3vw;
    font-size: 3.5vw;
    width: 75%;
  }
  .subscribe-formC2 button{
    padding: 3vw 4vw;
    font-size: 3.5vw;
    /* border: 1px solid brown; */
  }
}

@media (min-width:760px) and (max-width: 1000px){
  .footC2 {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    /* border: 1px solid orange; */
    flex-wrap: wrap;
    padding-bottom: 5vw;
  }
}