@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Quicksand:wght@300..700&display=swap");

@font-face {
  font-family: "PPMori";
  src: url("/src/assets/fonts/PPMori-Regular.otf") format("truetype");
}
@font-face {
  font-family: "PPMori-bold";
  src: url("/src/assets/fonts/PPMori-SemiBold.otf") format("truetype");
}



html,body{
  max-width: 100%;
}

.test-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  /* height: 70px; */
  width: 98.9vw;
  font-family: "Inconsolata", serif;
}


/* <------------------------------------------------ NAVBAR Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-1 starts -------------------------------------------------> */

.section-1 {
  position: relative;
  height: 100vh;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.section-1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ensures the video covers the entire div */
  z-index: 0;
  opacity: 0.7;
  filter: blur(1px) brightness(0.8) grayscale(0);
  /* display: none; */
}
.section-11 {
  padding: 0px;
  margin: -10vw 0vw 0vw 0vw;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  gap: 3vw;
  z-index: 1;
}
.section-11 h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  font-weight: 100;
  margin-top: 1vw;
  /* border: 1px solid red; */
}
.section-11 h3 span {
  color: rgb(255, 214, 8);
  font-weight: 900;
}
.section-11 h1 svg {
  margin: 1vw 0;
  height: 11vw;
  width: 100%;
}

/* It is a svg so the properties will be different */
.section-11 h1 svg path {
  fill: url(#gradientFill);
  fill-opacity: 0;
  stroke: white;
  stroke-width: 0.7;
  stroke-dasharray: 290;
  stroke-dashoffset: 290;
  animation: textAni 2s ease-in-out 1 forwards;
}
@keyframes textAni {
  0% {
    stroke-dashoffset: 290;
  }
  70% {
    stroke-dashoffset: 87; /* Adjusted to match 70% progress */
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0.1;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

.section-11 p {
  text-align: center;
  color: rgba(255, 255, 255, 0.998);
  /* width: 95%; */
  line-height: 2vw;
  font-size: 1.2vw;
  /* font-weight: 600; */
  /* border: 1px solid red; */
}

.button-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 2vw; */
  /* border: 1px solid red; */
  width: 80%;
}

.button-sec .journey-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  cursor: pointer;
  position: relative;
  padding: 0.7vw 1.2vw;
  color: #ffffff;
  /* border: 2px solid rgba(255, 255, 255, 0.437); */
  border: none;
  border-radius: 20px;
  background-color: rgb(67, 67, 67);
  /* transition: all 10s cubic-bezier(0.23, 1, 0.32, 1); */
  /* overflow: hidden; */
  margin-right: 3vw;
  font-size: 1.1vw;
}

.button-sec .journey-button::after {
  content: "";
  position: absolute;
  height: 105%;
  width: 101%;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(0, 238, 255), white);
  z-index: -2;
}

.button-sec .journey-button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 2px;
  width: 19%;
  height: 12%;
  border-radius: inherit;
  transform: scale(0);
  z-index: -1;
  background: linear-gradient(to right, rgb(0, 238, 255), white);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.button-sec .journey-button:hover::before {
  transform: scale(5);
}
.button-sec .journey-button:hover::after {
  opacity: 0;
}
.button-sec .journey-button:hover {
  border-radius: 30px;
  /* border: 2px solid rgb(28, 159, 168); */
  color: #000000;
  scale: 1;
  box-shadow: 0px 0px 1.2vw rgb(5, 197, 211);
}
.button-sec .journey-button:active {
  scale: 1;
}

.button-sec .demo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1vw;
  font-size: 1.2vw;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgb(0, 238, 255),
    rgb(255, 255, 255),
    rgb(0, 136, 255)
  );
  background-size: 200% auto;
  background-position: left center;
  color: rgb(3, 3, 3);
  padding: 0.8vw;
  border: none;
  width: 50%;
  border-radius: 20px;
  transition: background-position 0.5s ease;
  cursor: pointer;
}
.button-sec .demo-button:hover {
  background-position: right center;
}

.scroll-down {
  color: white;
  position: absolute;
  top: 82%;
  /* font-size: 10px; */
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* <------------------------------------------------ Section-1 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-2 starts -------------------------------------------------> */

.section-2 {
  margin-top: 8vw;
  padding-bottom: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin: 2vw;
}
.section-211 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(96, 96, 96, 0.259);
  background-color: transparent;
  /* background-color: transparent; */
  /* box-shadow: 0vw 0vw 1.8vw rgba(2, 185, 194, 0.633); */
  /* background: linear-gradient(135deg, #667eea8d, #f8f8f861); */
  /* gap: 3vw; */
  position: relative;
  /* border: rgba(246, 246, 246, 0.948) 1px solid; */
  /* height: 50vh; */
  /* width: 40vw; */
}
.section-211 img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(0.6) blur(2px) grayscale(100%) opacity(0.7);
}
.section-211 h1 {
  font-family: sans-serif;
  color: white;
  font-size: 1.2vw;
  z-index: 1;
  font-weight: 100;
  font-family: "PPMori", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.section-211 p {
  margin-top: 1vw;
  color: white;
  font-size: 1.2vw;
  z-index: 1;
  line-height: 1.6vw;
}
.section-211 h2 {
  margin-bottom: 1.5vw;
  color: #00eeff;
  font-size: 3vw;
  z-index: 1;
  font-family: "PPMori", sans-serif;
}

/* <------------------------------------------------ Section-2 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-movingStripe starts -------------------------------------------------> */

.section-movingStripe {
  margin-top: 3vw;
  height: 30vh;
  /* border: 1px solid rgb(222, 17, 174); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 5vw;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
.section-movingStripe-1 {
  width: 105%;
  border-top: 2px solid rgba(255, 255, 255, 0.464);
  border-bottom: 2px solid rgba(255, 255, 255, 0.446);
  box-shadow: 0px 0px 20px rgba(0, 251, 255, 0.619);
  transform: rotate(-3deg);
  /* opacity: 0.7; */
}

/* <------------------------------------------------ Section-movingStripe Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-compare starts -------------------------------------------------> */

.section-compare {
  width: 100%;
  /* height: 60vh; */
  margin: 8vw 0 0vw 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(248, 97, 16, 0.972); */
  gap: 3vw;
  font-family: "PPMori", sans-serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.472);
  padding-bottom: 8vw;
  overflow-x: hidden;
  padding-top: 2vw;
}
.section-compare h1 {
  font-size: 4vw;
  color: #00eeff;
}
.section-compare-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid rgb(152, 152, 152);
  gap: 2vw;
  padding: 2vw;
  border-radius: 20px;
  width: 40%;
  height: 70vh;
}
.section-compare-1 h2 {
  color: white;
  font-size: 2vw;
  letter-spacing: 1.5px;
  /* border: 1px solid red; */
}
.section-compare-1-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vw;
}
.section-compare-1-1 span {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* align-items: center; */
}
.section-compare-1-1 span p {
  font-family: "Inconsolata", serif;
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
  line-height: 2vw;
}
.weAre {
  border: 1px solid gold;
  /* border: none; */
  box-shadow: 0px 0px 15px rgba(255, 217, 0, 0.771);
  /* transition: all 0.3s ease-in-out; */
}
.weAre:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgb(255, 217, 0);
}

/* <------------------------------------------------ Section-compare Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-3 starts -------------------------------------------------> */

.section-3 {
  margin: 7vw 0vw 7vw 0vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(160, 160, 160, 0.287);
  padding-bottom: 8vw;
}
.section-31 {
  /* border: 1px solid lightgreen; */
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  position: relative;
  gap: 7.8vw;
  /* align-items: center; */
  height: 9.2vw;
  margin-bottom: 3vw;
}
.section-31 h2 {
  color: white;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 4vw;
  margin-top: 2vw;
}
.section-31 img {
  height: 9.2vw;
  position: absolute;
  /* border: 1px solid red; */
  top: 0%;
  right: 33%;
}

.section-32 {
  margin: 4vw 0vw 0vw 0vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 8vw;
  /* border: 1px solid rgb(231, 225, 53); */
}
.section-32 .imgs {
  color: white;
  font-size: 3vw;
}
.section-321 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  gap: 2vw;
  /* border: 1px solid white; */
}
.section-321 h3 {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: rgb(0, 238, 255);
  font-size: 1.6vw;
}
.section-321 p {
  text-align: center;
  color: white;
  font-size: 1.1vw;
  line-height: 2vw;
  /* border: 1px solid rgb(231, 225, 53); */
}

/* <------------------------------------------------ Section-3 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-4 starts -------------------------------------------------> */

.section-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(160, 160, 160, 0.287);
}
.section-4 h1 {
  color: white;
  font-size: 4vw;
  text-align: center;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  margin: 0vw 0vw 8vw 0vw;
}
.section-41 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  margin-bottom: 10vw;
  overflow: hidden;
  /* border: 1px solid red; */
}
.section-411 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 40%;
  margin: 0vw 3vw 0vw 12vw;
  gap: 2vw;
  /* border: 1px solid; */
}
.section-411-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0vw 5vw 0vw 8vw;
  gap: 2vw;
  /* border: 1px solid; */
}
.section-411 h2 {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #00eeff;
  font-size: 3vw;
}
.section-411-2 h2 {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: #00eeff;
  font-size: 3vw;
}
.section-411 p {
  font-size: 1.2vw;
  line-height: 1.7vw;
}
.section-411-2 p {
  font-size: 1.2vw;
  line-height: 1.7vw;
}
.canvas {
  margin-left: 5vw;
  width: 50%;
  height: 30vw;
  /* border: 1px solid blueviolet; */
  position: relative;
  transition: transform 0.05s ease-in-out;
  /* background-color: red; */
}
.canvas svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 25vw;
}

.section-4 .explore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  /* border: 1px solid pink; */
}
.section-4 .explore button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 1.1vw;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.8vw 1.8vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section-4 .explore button:hover {
  background: linear-gradient(to right, rgb(0, 238, 255), white);
  color: black;
  border: 1px solid #00eeff;
}
.section-4 .explore button .double-arrow {
  font-size: 1.8vw;
}

/* <------------------------------------------------ Section-4 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-testi starts -------------------------------------------------> */

.section-testi {
  margin-top: 8vw;
  padding-bottom: 8vw;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.471);
}
.section-testi h1 {
  margin-bottom: 2vw;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.7vw;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
}
.columns-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
  overflow: hidden;
  /* border: 1px solid blueviolet; */
}

.marquee-column {
  width: 30%;
  overflow: hidden;
  background: transparent;
  border: none;

  mask-image: linear-gradient(
    to top,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to top,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  /* border: 1px solid red; */
}

.marquee-track {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  animation: moving-up 20s linear infinite;
  /* Optional but improves performance */
  will-change: transform;
}
.marquee-column:hover .marquee-track {
  animation-play-state: paused;
}

.moving-down .marquee-track {
  animation: moving-down 20s linear infinite;
}

.testi-card {
  height: auto;
  padding: 20px;
  /* border: 1px solid cyan; */
  border-radius: 20px;
  /* border: 1px solid #00eeff; */
  background-color: #00eeffa9;
  background: linear-gradient(
    -30deg,
    rgba(0, 238, 255, 0),
    rgba(255, 255, 255, 0.387)
  );
}

.testi-text {
  color: white;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.testi-text::before,
.testi-text::after {
  content: "“";               
  font-family: Georgia, serif;
  font-size: 4vw;          
  color: rgb(246, 255, 0);
  line-height: 1;
}
.testi-text::after {
  content: "”";
  margin-top: 15px;
}

.testi-name {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

@keyframes moving-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moving-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* <------------------------------------------------ Section-5 starts -------------------------------------------------> */

.section-5 {
  margin: 5vw 0vw 2vw 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  width: 100%;
  padding: 40px 20px;
  /* border-bottom: 1px solid rgba(160, 160, 160, 0.287); */
}

.section-5 h1 {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5vw;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  /* margin-bottom: 40px; */
  /* overflow: hidden; */
}

.section-51 {
  margin: 3vw 0vw;
  width: 60%;
  max-width: 1000px;
  font-family: "Inconsolata", serif;
  border-radius: 8px;
  background-color: #0e0d0d;
}

.faq-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
  /* border-bottom: 1px solid #ddd; */
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #323232;
}
.faq-item:hover .faq-question {
  color: #00eeff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
  font-weight: 500;
  color: #ffffffa5;
  transition: color 0.3s ease;
  overflow: hidden;
}

.faq-answer {
  overflow: hidden;
  margin-top: 2vw;
  font-size: 16px;
  color: #ffffff;
  padding-left: 20px;
  line-height: 1.6;
  transition: max-height 0.5s ease, height 0.5s ease, padding 0.3s ease;
  visibility: hidden;
}

.faq-item.open .faq-answer {
  max-height: 1000px;
  height: auto;
  padding-left: 20px;
  visibility: visible;
}

.icon {
  margin-left: 10px;
  font-size: 2vw;
  color: #00eeff;
  margin-right: 2vw;
  transition: transform 0.3s ease;
  font-family: sans-serif;
  font-weight: 100;
}

/* .icon.open {
  //used to rotate icon
} */

/* Responsive Design */
@media (max-width: 768px) {
  .section-5 {
    padding: 20px 10px;
  }

  .section-5 h1 {
    font-size: 6vw;
  }

  .faq-question {
    font-size: 3.3vw;
  }

  .faq-answer {
    font-size: 14px;
  }

  .icon {
    font-size: 4vw;
  }
}

/* <------------------------------------------------ Section-5 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-6 starts -------------------------------------------------> */

.section-6 {
  height: 70vh;
  width: 100%;
  background-color: rgba(87, 87, 87, 0.201);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .section-61 h1{
  color: white;
  font-size: 4vw;
} */

/* <------------------------------------------------ Section-6 Complete -------------------------------------------------> */

/*! __________________________________________________________| Responsive Designs |_____________________________________________________________________ */

/*?------------------------ | MOBILE |------------------------- */

@media (max-width: 480px) {
  /* .navibar h4 {
    font-size: 5vw;
  } */

  /*?------------------------ Section - 1 ------------------------- */
  .section-1 {
    height: 88vh;
    display: flex;
    align-items: flex-start;
    /* border: 1px solid blue; */
  }
  .section-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    margin: 10vw 0vw 0vw 0vw;
    width: 100%;
  }
  .section-11 h3 {
    margin-top: 8vw;
    font-size: 4vw;
    width: 90%;
    /* border: 1px solid red; */
  }
  .section-11 h1 svg {
    /* border: 1px solid red; */
    height: 20vw;
    width: 110%;
    margin-top: 10vw;
    margin-left: -4vw;
  }
  .section-11 p {
    font-size: 4vw;
    font-weight: 100;
    width: 90%;
    line-height: 5.5vw;
    color: rgba(255, 255, 255, 0.783);
    /* border: 1px solid yellow; */
  }
  .button-sec {
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 6vw;
  }
  .button-sec .journey-button {
    padding: 2.5vw 0vw;
    font-size: 3.5vw;
    width: 80%;
    margin: 0;
  }
  .button-sec .demo-button {
    padding: 2.6vw 0vw;
    font-size: 3.5vw;
    width: 80%;
  }
  .button-sec .darrow {
    font-size: 5vw;
    vertical-align: middle;
  }
  .button-sec .upleftArrow {
    font-size: 5vw;
    vertical-align: middle;
  }

  .scroll-down {
    top: 90%;
  }
  .section-1 video {
    height: 100%;
  }

  /*?------------------------ Section - beta ------------------------- */

  .section-beta {
    margin: 15vw 0;
    padding-bottom: 20vw;
    /* height: 100vh; */
    /* border: 1px solid blueviolet; */
  }
  .section-beta .title {
    font-size: 8vw;
  }
  .landing_page-message {
    display: flex;
    gap: 5vw;
    height: auto;
    /* border: 1px solid rgb(49, 220, 55); */
    margin-top: 1vw;
  }

  /*?------------------------ Section - 2 ------------------------- */
  .section-21 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* height: 80vh; */
    width: 100%;
    margin-bottom: 10vw;
    gap: 15vw;
  }
  .section-211 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    /* border: 1px solid lightgreen; */
    width: 85%;
    height: auto;
    padding: 5vw;
    gap: 3vw;
  }
  .section-211 h1 {
    font-size: 6vw;
    text-align: center;
  }
  .section-211 h2 {
    margin-top: 7vw;
    font-size: 9vw;
  }

  /*?------------------------ Section - compare ------------------------- */

  .section-compare {
    padding: 8vw 0;
    /* margin-bottom: 8vw; */
    display: flex;
    flex-direction: column;
    gap: 10vw;
  }
  .section-compare h1 {
    font-size: 10vw;
  }
  .section-compare-1 {
    width: 80%;
    height: auto;
    padding: 7vw 4vw;
    display: flex;
    gap: 5vw;
  }
  .section-compare-1 h2 {
    font-size: 6vw;
  }
  .section-compare-1-1 {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .section-compare-1-1 span p {
    font-size: 4vw;
    line-height: 5.5vw;
  }
  .weAre {
    margin-bottom: 10vw;
    transform: scale(1);
  }

  /*?------------------------ Section - 3 ------------------------- */
  .section-3 {
    margin-top: 15vw;
    padding-bottom: 20vw;
    margin-bottom: 15vw;
  }
  .section-31 {
    display: flex;
    gap: 16vw;
    margin-bottom: 15vw;
  }
  .section-31 h2 {
    font-size: 10vw;
    /* border: 1px solid red; */
  }
  .section-31 img {
    height: 17vw;
    position: absolute;
    /* border: 1px solid red; */
    top: 5%;
    right: 14%;
  }
  .section-32 {
    display: flex;
    flex-direction: column;
    gap: 20vw;
    /* border: 1px solid orange; */
    align-items: center;
  }
  .section-321 {
    display: flex;
    gap: 4vw;
    /* border: 1px solid orange; */
    width: 70%;
    margin-top: 5vw;
  }
  .section-32 .imgs {
    font-size: 10vw;
  }
  .section-321 h3 {
    font-size: 7vw;
  }
  .section-321 p {
    font-size: 4vw;
    line-height: 6vw;
  }

  /*?------------------------ Section - 4 ------------------------- */
  .section-4 {
    margin-bottom: 5vw;
    padding-bottom: 5vw;
  }
  .section-4 h1 {
    width: 90%;
    font-size: 10vw;
    margin: 5vw 0 15vw 0;
    /* border: 1px solid burlywood; */
  }
  .section-41 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 10vw;
    margin-bottom: 17vw;
  }
  .section-411 {
    /* border: 1px solid green; */
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10vw 0;
  }
  .section-411 h2 {
    /* border: 1px solid red; */
    font-size: 6vw;
    text-align: center;
    margin-bottom: 2vw;
  }
  .section-411 p {
    margin-top: 2vw;
    width: 85%;
    text-align: center;
    font-size: 4vw;
    line-height: 6vw;
  }
  .canvas {
    display: none;
  }
  .section-411-2 {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10vw 0;
  }
  .section-411-2 h2 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 2vw;
  }
  .section-411-2 p {
    margin-top: 2vw;
    width: 85%;
    text-align: center;
    font-size: 4vw;
    line-height: 6vw;
  }

  .section-4 .explore button {
    display: flex;
    gap: 0.5vw;
    margin: -5vw 0 6vw 0;
    font-size: 4vw;
    padding: 2vw 3vw;
  }
  .section-4 .explore button .double-arrow {
    font-size: 6vw;
  }

  /*?------------------------ Section - testi ------------------------- */

  .section-testi {
    padding-bottom: 20vw;
    /* border: 1px solid red; */
  }
  .section-testi h1 {
    /* width: 90%; */
    font-size: 9vw;
    margin: 5vw 0 5vw 0;
  }
  .marquee-column {
    display: none;
  }

  /* Show only first two columns */
  .marquee-column:nth-child(1),
  .marquee-column:nth-child(2) {
    display: block;
    width: 45%; /* Adjust to fit two columns nicely */
  }

  .columns-container {
    gap: 3vw; /* Add some spacing between the two visible columns */
  }
  .marquee-track {
    gap: 2vw;
  }

  .testi-text {
    display: flex;
    flex-direction: column;
  }
  .testi-text::before,
  .testi-text::after {
    content: "“";
    font-family: Georgia, serif;
    font-size: 10vw;
    color: rgb(246, 255, 0);
    line-height: 1;
  }
  .testi-text::after {
    content: "”";
    margin-top: 12px;
  }
  .testi-card {
    height: auto;
  }

  /*?------------------------ Section - 5 ------------------------- */
  .section-5 {
    margin-top: 8vw;
    margin-bottom: 10vw;
  }
  .section-5 h1 {
    margin-bottom: 10vw;
    width: 95%;
    font-size: 9vw;
  }
  .section-51 {
    width: 90%;
  }
  .faq-question {
    font-size: 4vw;
  }
  .icon {
    font-size: 4.2vw;
  }

  /*?------------------------ Section - 6 ------------------------- */
  .section-6 {
    height: 100vh;
  }
}

/*?------------------------ | TABLETS |------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
}

/*?------------------------ | SMALL LAPTOPS |------------------------- */
@media (min-width: 769px) and (max-width: 1024px) {
}

/*?------------------------ | LAPTOPS AND DESKTOPS |------------------------- */
@media (min-width: 1025px) {
}
