/*! ________________________________________| MAIN |___________________________________________________ */
.features-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 500%;
  padding: 0.45vw;
  text-align: center;
  /* color: white; */
  background-color: #1e1e1e; /* Dark background */
  border-radius: 1vw;
  gap: 0.7vw;
  /* border: solid red 3px; */
}

/* ?____________________________________ \ SECTION \_______________________________ */
.features-main-sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 6vh; */
  width: 95%;
  /* background-color: rgba(0, 0, 0, 0.596); */
  /* border: yellow 1px solid; */
  border-radius: 0.5vw;
  /* font-family: "Inconsolata", serif; */
  gap: 10vw;
}
.features-main-sec-11{
  width: 80%;
  /* border: 1px solid orange; */
  margin: 5vw 0 0 0;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  overflow: hidden;
}
.features-main-sec-11 h2 {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 4vw;
  font-size: 3.5vw;
  overflow: hidden;
  opacity: 0; 
  transform: translateY(5vw); 
  animation: fadeUp 0.7s ease-out forwards;
}
.features-main-sec-11 h3{
  color: rgba(0, 238, 255, 0.826);
  font-size: 1vw;
  font-family: monospace;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  width: 85%;
  line-height: 1.5vw;
  opacity: 0; 
  transform: translateY(10vw); 
  animation: fadeUp 1s ease-out forwards;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0); /* End position at the normal place */
  }
}
.features-main-sec-12 {   
  padding: 2vw 0;                              
  width: 100%;
  /* border: 2px solid rgb(227, 47, 255); */
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  border-radius: 20px;
  margin-top: -3vw;
}

