/* From Uiverse.io by aaronross1 */
.typing-indicator {
  /* border: 1px solid brown; */
  width: 3.5vw;
  height: 7vh;
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.typing-circle {
  width: 0.45vw;
  height: 0.45vw;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(247, 247, 247);
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 1.5vw;
    height: 0.5vw;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 0.6vw;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 10%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 0.5vw;
  height: 0.2vw;
  border-radius: 50%;
  background-color: rgba(5, 234, 255, 0.483);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
