@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Quicksand:wght@300..700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

.hero {
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata", serif;
}


/* <------------------------------------------------ NAVBAR Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-1 starts -------------------------------------------------> */

.about-section-1 {
  margin-top: 5vw;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 4vw;
  /* border: 1px solid rgb(0, 166, 255); */
  border-bottom: 1px solid rgba(100, 100, 100, 0.518);
}
.about-section-1-1 {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-section-1-1 h2 {
  font-weight: 100;
  font-size: 2.5vw;
  color: white;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}
.about-section-1-1 img {
  height: 4.5vw;
}
.about-section-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.about-section-1-2 h1 {
  color: white;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.8vw;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
  line-height: 4vw;
  font-weight: 900;
}
.about-section-1-2 p {
  color: rgba(255, 255, 255, 0.748);
  width: 70%;
  text-align: center;
  line-height: 2.5vw;
  font-size: 1.2vw;
}

/* <------------------------------------------------ Section-1 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-2 starts -------------------------------------------------> */

.about-section-2 {
  margin-top: 5vw;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid yellow; */
  border-bottom: 1px solid rgba(100, 100, 100, 0.518);
}
.about-section-2-1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 3vw;
  padding-left: 7vw;
  width: 50%;
  /* border: 1px solid rgb(0, 255, 60); */
}
.about-section-2-1 h3 {
  color: rgb(0, 238, 255);
  font-size: 3vw;
  text-transform: uppercase;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.about-section-2-1 p {
  color: rgba(255, 255, 255, 0.697);
  font-size: 1.2vw;
  line-height: 2vw;
  /* width: 60%; */
}
.canvas {
  position: relative;
  width: 40%;
  height: 90%;
  /* border: 1px solid red; */
  overflow: hidden;
}
.canvas svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vw;
  width: auto;
}

/* <------------------------------------------------ Section-2 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-3 starts -------------------------------------------------> */

.about-section-3 {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  /* height: 80vh; */
  /* background-color : #171717; */
  padding-bottom: 8vw;
}
.about-section-3-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about-section-3-1 h2 {
  font-size: 2.5vw;
  color: white;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}
.about-section-3-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-section-3-2 p {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  color: rgba(255, 255, 255, 0.697);
  width: 50%;
  font-size: 1.2vw;
  line-height: 2vw;
  padding-left: 10vw;
  /* border: 1px solid gold; */
  width: 50%;
}
.about-section-3-2 p span {
  color: #00eeff;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
}

.swiper {
  width: 25vw;
  height: 30vw;
}

.swiper-slide {
  border-radius: 10px;
  font-weight: bold;
  color: #000000;
  background-color: white;
}
.feedback-card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
.feedback-card h4 {
  margin-left: 2vw;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.feedback-card p {
  color: black;
  width: 80%;
  padding: 0;
}
.artist-photo {
  border: 1.5px solid rgb(0, 0, 0);
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}
.artist-photo img {
  height: 10vw;
  width: 10vw;
  position: absolute;
}

.card1 {
  background-color: rgb(218, 92, 39);
}

.card2 {
  background-color: rgb(62, 193, 233);
}

.card3 {
  background-color: rgb(201, 183, 18);
}

.card4 {
  background-color: rgb(211, 122, 7);
}

.card5 {
  background-color: rgb(216, 216, 216);
}

.instruction{
  margin-top: 3vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  /* height: 5vh; */
  /* border: 1px solid palevioletred; */
}
.instruction h3{
  text-align: center;
  color:rgba(255, 255, 255, 0.715);
  font-family: 'Times New Roman', Times, serif;
}
.instruction img{
  height: 2.5vw;
}
/* <------------------------------------------------ Section-3 Complete -------------------------------------------------> */

/* <------------------------------------------------ Section-4 starts -------------------------------------------------> */

.about-section-4 {
  height: 100vh;
  width: 100%;
  background-color: rgba(87, 87, 87, 0.201);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <------------------------------------------------ Section-4 Complete -------------------------------------------------> */

/*! __________________________________________________________| Responsive Designs |_____________________________________________________________________ */

/*?------------------------ | MOBILE |------------------------- */

@media (max-width: 480px) {
  .navibar h4 {
    font-size: 6vw;
  }

  /* <------------------------------------Section-1------------------------------------> */

  .about-section-1 {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
    gap: 8vw;
  }

  .about-section-1-1 h2 {
    font-size: 10vw;
  }
  .about-section-1-1 img {
    height: 15vw;
  }
  .about-section-1-2 h1 {
    font-size: 5.5vw;
    width: 90%;
    line-height: 7vw;
  }
  .about-section-1-2 p {
    margin-top: 5vw;
    font-size: 4.5vw;
    line-height: 6vw;
    width: 80%;
    text-align: justify;
  }

  /* <------------------------------------Section-2------------------------------------> */

  .about-section-2 {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
  }
  .about-section-2-1 {
    padding: 0;
    width: 80%;
    /* border: 1px solid rgb(37, 153, 37); */
  }
  .about-section-2-1 h3 {
    font-size: 8vw;
    /* width: 90%; */
  }
  .about-section-2-1 p {
    font-size: 4vw;
    line-height: 5.5vw;
    text-align: justify;
    /* width: 90%; */
  }
  .canvas {
    width: 80%;
    height: 80vw;
    /* border: 1px solid red; */
  }
  .canvas svg {
    height: 60vw;
  }

  /* <------------------------------------Section-3------------------------------------> */

  .about-section-3 {
    /* height: 140vh; */
    margin: 15vw 0;
    display: flex;
    flex-direction: column;
    gap: 18vw;
    /* border: 1px solid orange; */
  }
  .about-section-3-1 h2 {
    width: 90%;
    text-align: center;
    font-size: 8vw;
    line-height: 8.5vw;
  }
  .about-section-3-2 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(187, 0, 255); */
    gap: 10vw;
  }
  .about-section-3-2 p {
    width: 80%;
    padding: 0;
    font-size: 4vw;
    line-height: 5.5vw;
    text-align: justify;
  }
  .about-section-3-2 p span {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .mySwiper {
    height: 55vh;
    width: 60vw;
    /* border: 1px solid blue; */
  }
  .feedback-card {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 5vw;
  }
  .feedback-card h4{
    text-align: center;
  }
  .artist-photo {
    height: 25vw;
    width: 25vw;
  }
  .artist-photo img{
    height: 25vw;
  width: 25vw;
  }
  .instruction{
    margin-top: 7vw;
  }
  .instruction h3{
    font-weight: 100;
    /* font-size: 4vw; */
  }
  .instruction img{
    height: 7vw;
  }
}
