/* videoC1.css */

  
  html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  
  .video-page {
    width: auto;
    height: auto;
    background-color: #cec8c8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  /* Maintain 16:9 aspect ratio, responsive */
  .video-wrapper {
    position: relative;
    width: 40vw;
    max-width: 1200px;
    padding-bottom: 50.625%; /* 16:9 aspect ratio => 9/16 * 100 */
    height: 0;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  